// Colors
$accent-1: #ffc593;
$accent-2: #bc7198;
$accent-3: #5a77ff;
$pure-black: #000000;
$pure-white: #ffffff;
$light-grey: #dfdfdf;

// Mixins
@mixin heading-style($font-size, $line-height, $letter-spacing: 0) {
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin large-heading {
  @include heading-style(4rem, 4.8rem, 4px);
}

@mixin rectangle-button($background, $color) {
  width: 15.8rem;
  height: 4rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  background-color: $background;
  color: $color;
  &:hover {
    background: $light-grey;
    color: $pure-black;
  }
}

@mixin arrow-button($color, $padding) {
  span {
    display: inline-block;
    padding-right: $padding;
  }
  &:hover span {
    text-decoration: underline;
  }
  svg {
    position: absolute;
    g {
      stroke: $color;
    }
  }
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: $color;
}

.arrow {
  position: relative;
}

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  @include heading-style(2.4rem, 2.5rem);
}

h3 {
  @include heading-style(1.8rem, 2.5rem);
}

h4 {
  @include heading-style(1.2rem, 1.6rem, 2px);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $pure-black;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

button {
  cursor: pointer;
}