// Colors
$accent-1: #ffc593;
$accent-2: #bc7198;
$accent-3: #5a77ff;
$pure-black: #000000;
$pure-white: #ffffff;
$light-grey: #dfdfdf;

// Mixins
@mixin heading-style($font-size, $line-height, $letter-spacing: 0) {
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin large-heading {
  @include heading-style(4rem, 4.8rem, 4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  button {
  }
}

h2 {
  @include heading-style(2.4rem, 2.5rem);
}

h3 {
  @include heading-style(1.8rem, 2.5rem);
}

h4 {
  @include heading-style(1.2rem, 1.6rem, 2px);
}

body {
  h1 {
    @include large-heading();
  }
}




