@mixin background-property($url) {
  background-image: $url;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  height: 65rem;
  background-image: url('../assets/stories/desktop/moon-of-appalacia.jpg');
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  left: 11rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 39rem;
  height: 40rem;
  color: $pure-white;
  #featured {
    margin-bottom: 2.4rem;
  }
  h1 {
    @include large-heading();
    margin-bottom: 1.6rem;
  }
  #description {
    font-size: 1.3rem;
    margin-bottom: 2.4rem;
    #date {
      display: inline-block;
      padding-right: 1rem;
      opacity: 0.75;
    }
  }
  #summary {
    opacity: 0.6;
    margin-bottom: 2.4rem;
  }
  button {
    @include arrow-button($pure-white, 1.6rem);
  }
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 50rem);
}

.story-card {
  // position: relative;
  button {
    @include arrow-button($pure-white, 9rem);
  }
  &:hover {
    transform: translateY(-2rem);
    .gradient-border {
      display: block;
    }
  }
  cursor: pointer;
}

.overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 35rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.27%,
    rgba(0, 0, 0, 0.661222) 100%
  );
}

#mountains {
  @include background-property(url('../assets/stories/desktop/mountains.jpg'));
}

#city {
  @include background-property(url('../assets/stories/desktop/cityscapes.jpg'));
}

#voyage {
  @include background-property(
    url('../assets/stories/desktop/18-days-voyage.jpg')
  );
}

#architecturals {
  @include background-property(
    url('../assets/stories/desktop/architecturals.jpg')
  );
}

#world-tour {
  @include background-property(url('../assets/stories/desktop/world-tour.jpg'));
}

#corners {
  @include background-property(
    url('../assets/stories/desktop/unforeseen-corners.jpg')
  );
}

#africa {
  @include background-property(
    url('../assets/stories/desktop/king-on-africa.jpg')
  );
}

#trip {
  @include background-property(
    url('../assets/stories/desktop/trip-to-nowhere.jpg')
  );
}

#sea {
  @include background-property(
    url('../assets/stories/desktop/rage-of-the-sea.jpg')
  );
}

#horses {
    @include background-property(url('../assets/stories/desktop/running-free.jpg'))
}

#waves {
    @include background-property(url('../assets/stories/desktop/behind-the-waves.jpg'))
}

#calm {
    @include background-property(url('../assets/stories/desktop/calm-waters.jpg'))
}

#milky-way {
    @include background-property(url('../assets/stories/desktop/milky-way.jpg'))
}

#forest {
    @include background-property(url('../assets/stories/desktop/dark-forest.jpg'))
}

#somwarpet {
    @include background-property(url('../assets/stories/desktop/somwarpet.jpg'))
}

#dreams {
    @include background-property(url('../assets/stories/desktop/land-of-dreams.jpg'))
}