* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

a:hover {
  opacity: 0.3;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.arrow {
  position: relative;
}

header {
  width: 100%;
  height: 7.2rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container nav ul li {
  padding: 0 3rem;
}

.header-container button {
  width: 15.8rem;
  height: 4rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header-container button:hover {
  background: #dfdfdf;
  color: #000000;
}

.create-and-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65rem;
}

.stories,
.designed-for-everyone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60rem;
}

.stories .box-1,
.designed-for-everyone .box-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.stories .box-1 .description-container button,
.designed-for-everyone .box-1 .description-container button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #000000;
}

.stories .box-1 .description-container button span,
.designed-for-everyone .box-1 .description-container button span {
  display: inline-block;
  padding-right: 2.5rem;
}

.stories .box-1 .description-container button:hover span,
.designed-for-everyone .box-1 .description-container button:hover span {
  text-decoration: underline;
}

.stories .box-1 .description-container button svg,
.designed-for-everyone .box-1 .description-container button svg {
  position: absolute;
}

.stories .box-1 .description-container button svg g,
.designed-for-everyone .box-1 .description-container button svg g {
  stroke: #000000;
}

.designed-for-everyone .box-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.black {
  background: #000000;
  color: #ffffff;
}

.box-1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 61rem;
          flex: 1 1 61rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 83rem;
          flex: 1 1 83rem;
}

.box-2 figure {
  height: 100%;
}

.box-2 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40rem;
  height: 30rem;
  margin: 0 1rem;
}

.description-container h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4px;
  padding-bottom: 2.1rem;
}

.description-container p {
  padding-bottom: 4.8rem;
  opacity: 0.6;
}

.description-container button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.description-container button span {
  display: inline-block;
  padding-right: 2rem;
}

.description-container button:hover span {
  text-decoration: underline;
}

.description-container button svg {
  position: absolute;
}

.description-container button svg g {
  stroke: #ffffff;
}

.line {
  position: absolute;
  left: 0;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  width: 6px;
  height: 30rem;
}

.stories-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50rem;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.story-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1fr;
          flex: 1 1 1fr;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.gradient-border {
  display: none;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

.card-info {
  width: 28rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 4rem;
  color: #ffffff;
}

.card-info .text-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1.6rem;
  margin-bottom: 2rem;
}

.card-info .text-container p {
  font-size: 1.3rem;
  font-weight: 400;
}

.card-info button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.card-info button span {
  display: inline-block;
  padding-right: 14rem;
}

.card-info button:hover span {
  text-decoration: underline;
}

.card-info button svg {
  position: absolute;
}

.card-info button svg g {
  stroke: #ffffff;
}

.pros {
  padding: 12rem 16.5rem;
}

.pros-container {
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pros-card {
  -ms-flex-preferred-size: 35rem;
      flex-basis: 35rem;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.pros-card img {
  display: inline-block;
  margin-bottom: 4.8rem;
}

.pros-card h3 {
  margin-bottom: 1.6rem;
}

.pros-card p {
  opacity: 0.6;
}

.upload {
  margin: 0 3rem;
}

.upload img {
  margin-bottom: 8.5rem;
}

.hero {
  position: relative;
  height: 65rem;
  background-image: url("../assets/stories/desktop/moon-of-appalacia.jpg");
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  left: 11rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 39rem;
  height: 40rem;
  color: #ffffff;
}

.hero-text #featured {
  margin-bottom: 2.4rem;
}

.hero-text h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4px;
  margin-bottom: 1.6rem;
}

.hero-text #description {
  font-size: 1.3rem;
  margin-bottom: 2.4rem;
}

.hero-text #description #date {
  display: inline-block;
  padding-right: 1rem;
  opacity: 0.75;
}

.hero-text #summary {
  opacity: 0.6;
  margin-bottom: 2.4rem;
}

.hero-text button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.hero-text button span {
  display: inline-block;
  padding-right: 1.6rem;
}

.hero-text button:hover span {
  text-decoration: underline;
}

.hero-text button svg {
  position: absolute;
}

.hero-text button svg g {
  stroke: #ffffff;
}

.story-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (50rem)[4];
      grid-template-rows: repeat(4, 50rem);
}

.story-card {
  cursor: pointer;
}

.story-card button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.story-card button span {
  display: inline-block;
  padding-right: 9rem;
}

.story-card button:hover span {
  text-decoration: underline;
}

.story-card button svg {
  position: absolute;
}

.story-card button svg g {
  stroke: #ffffff;
}

.story-card:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.story-card:hover .gradient-border {
  display: block;
}

.overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 35rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.27%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.661222)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
}

#mountains {
  background-image: url("../assets/stories/desktop/mountains.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#city {
  background-image: url("../assets/stories/desktop/cityscapes.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#voyage {
  background-image: url("../assets/stories/desktop/18-days-voyage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#architecturals {
  background-image: url("../assets/stories/desktop/architecturals.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#world-tour {
  background-image: url("../assets/stories/desktop/world-tour.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#corners {
  background-image: url("../assets/stories/desktop/unforeseen-corners.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#africa {
  background-image: url("../assets/stories/desktop/king-on-africa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#trip {
  background-image: url("../assets/stories/desktop/trip-to-nowhere.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sea {
  background-image: url("../assets/stories/desktop/rage-of-the-sea.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#horses {
  background-image: url("../assets/stories/desktop/running-free.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#waves {
  background-image: url("../assets/stories/desktop/behind-the-waves.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#calm {
  background-image: url("../assets/stories/desktop/calm-waters.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#milky-way {
  background-image: url("../assets/stories/desktop/milky-way.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#forest {
  background-image: url("../assets/stories/desktop/dark-forest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#somwarpet {
  background-image: url("../assets/stories/desktop/somwarpet.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#dreams {
  background-image: url("../assets/stories/desktop/land-of-dreams.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.footer-container {
  width: 110.5rem;
  height: 12.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logos {
  -ms-flex-preferred-size: 20rem;
      flex-basis: 20rem;
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-logos li {
  display: inline-block;
  margin-right: 1.3rem;
}

.social-media-logos li a:hover {
  opacity: 1;
}

.social-media-logos #facebook:hover svg path {
  fill: url(#fb);
}

.social-media-logos #youtube:hover svg path {
  fill: url(#yt);
}

.social-media-logos #twitter:hover svg path {
  fill: url(#twt);
}

.social-media-logos #pinterest:hover svg path {
  fill: url(#pint);
}

.social-media-logos #instagram:hover svg path {
  fill: url(#ig);
}

.links {
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
  margin-right: 20rem;
}

.links ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links ul li a {
  color: #ffffff;
}

.misc-info {
  -ms-flex-preferred-size: 35rem;
      flex-basis: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.misc-info button {
  padding-left: 12rem;
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.misc-info button span {
  display: inline-block;
  padding-right: 1.6rem;
}

.misc-info button:hover span {
  text-decoration: underline;
}

.misc-info button svg {
  position: absolute;
}

.misc-info button svg g {
  stroke: #ffffff;
}

.misc-info p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffffff;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */