.arrow {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 7.2rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container nav ul li {
  padding: 0 3rem;
}

.header-container button {
  width: 15.8rem;
  height: 4rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  background-color: #000000;
  color: #ffffff;
}

.header-container button:hover {
  background: #dfdfdf;
  color: #000000;
}

.create-and-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65rem;
}

.stories,
.designed-for-everyone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60rem;
}

.stories .box-1,
.designed-for-everyone .box-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.stories .box-1 .description-container button,
.designed-for-everyone .box-1 .description-container button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #000000;
}

.stories .box-1 .description-container button span,
.designed-for-everyone .box-1 .description-container button span {
  display: inline-block;
  padding-right: 2.5rem;
}

.stories .box-1 .description-container button:hover span,
.designed-for-everyone .box-1 .description-container button:hover span {
  text-decoration: underline;
}

.stories .box-1 .description-container button svg,
.designed-for-everyone .box-1 .description-container button svg {
  position: absolute;
}

.stories .box-1 .description-container button svg g,
.designed-for-everyone .box-1 .description-container button svg g {
  stroke: #000000;
}

.designed-for-everyone .box-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.black {
  background: #000000;
  color: #ffffff;
}

.box-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 61rem;
          flex: 1 1 61rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 83rem;
          flex: 1 1 83rem;
}

.box-2 figure {
  height: 100%;
}

.box-2 figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40rem;
  height: 30rem;
  margin: 0 1rem;
}

.description-container h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 4px;
  padding-bottom: 2.1rem;
}

.description-container p {
  padding-bottom: 4.8rem;
  opacity: 0.6;
}

.description-container button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.description-container button span {
  display: inline-block;
  padding-right: 2rem;
}

.description-container button:hover span {
  text-decoration: underline;
}

.description-container button svg {
  position: absolute;
}

.description-container button svg g {
  stroke: #ffffff;
}

.stories-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1fr;
          flex: 1 1 1fr;
  position: relative;
}

.card-info {
  width: 28rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 4rem;
  color: #ffffff;
}

.card-info .text-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1.6rem;
  margin-bottom: 2rem;
}

.card-info .text-container p {
  font-size: 1.3rem;
  font-weight: 400;
}

.card-info button {
  height: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 2px;
  border: none;
  background: transparent;
  color: #ffffff;
}

.card-info button span {
  display: inline-block;
  padding-right: 14rem;
}

.card-info button:hover span {
  text-decoration: underline;
}

.card-info button svg {
  position: absolute;
}

.card-info button svg g {
  stroke: #ffffff;
}
/*# sourceMappingURL=style.css.map */